/*Aquí ira  el color del background*/
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(27, 16, 33);
  height: 100vh;
}

/*Video de astronauta*/
.vidAstro {
  position: fixed;
  left: 30%;
  top: 0px;
  z-index: -2;
  /* display: none; */
}