/*Aquí ira  el color del background*/
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #1a0f21;
  height: 100vh;
}

/*Bnner*/
.Banner {
  background-color: transparent;
  height: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

/*EL TEXTO ENMEDIO*/
.Title {
  /* margin-top: 10px; */
  height: 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.tiText {
  text-align: center;
  position: relative;
  /* bottom: 5px; */
  top: 20px;
  /* padding: 20px; */
}

.Title .tiText h1 {
  font-size: 24px;
  color: #DCA59F;
}

.Title .tiText h1,
.Title .tiText h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  height: auto;
  z-index: 4;
}

.Title .tiText h3 {
  /* font-family: 'League Spartan', sans-serif; */
  font-family: 'Poppins', sans-serif;
  color: rgb(119 29 34);
  font-size: 18px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

/*LOGO ATRAS DEL TEXTO*/
.Logo {
  position: relative;
  z-index: -1;
  height: 45px;
  width: 45px;
  top: 20px;
  color: transparent;
  background-color: #31233B;
  border-radius: 50%;
  /* bottom: 120px; */
}

.NAVE {
  position: relative;
  height: 30px;
  width: 10px;
}

/*Video de astronauta*/
.vidAstro {
  position: fixed;
  left: 30%;
  top: 50px;
  z-index: -2;
  /* display: none; */
}