/*Banner*/
.Banner {
  background-color: transparent;
  height: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.contLogo {
  width: 250px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  /* border: 3px solid green; */
  transform: scale(.62);
  height: 355px;
}

/*?EL TEXTO ENMEDIO*/
.Title {
  /* margin-top: 10px; */
  height: 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.tiText {
  text-align: center;
  position: relative;
  bottom: 120px;
  z-index: 2;
  transform: scale(1);
  transition: transform .25s ease-out;
}

.contLogo:hover .tiText {
  transform: scale(1.15)
}

.Title .tiText h1,
.Title .tiText h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  height: auto;
  z-index: 4;
}

.Title .tiText h1 {
  font-size: 24px;
  color: #CAD0D6;
  background-color: #31233b86;
  /* border: 2px solid #CAD0D6; */
  border-top: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.Title .tiText h3 {
  /* font-family: 'League Spartan', sans-serif; */
  font-family: 'Poppins', sans-serif;
  color: #CAD0D6;
  font-size: 18px;
  width: fit-content;
  margin-left: 40px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  background-color: #31233b86;
  /* border: 2px solid #CAD0D6; */
  border-bottom: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/*formas ATRAS DEL TEXTO*/
.Logo {
  position: relative;
  z-index: 1;
  height: 150px;
  bottom: 10px;
  left: 1.5px;
}

.rombo {
  border: 3px solid rgb(216 132 146);
  position: relative;
  color: transparent;
  padding-top: 65px;
  padding-bottom: 65px;
  width: 155px;
  top: 150px;
  transform: rotate(45deg) scale(.8);
  transition: transform .55s, border .25s ease-out;
}

.contLogo:hover .rombo {
  border: solid rgb(205 184 157);
  transform: rotate(180deg) scale(1);
}

.NAVE {
  position: relative;
  height: 30px;
  width: 10px;
}

/*?MENU*/
.Menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
}

.BMenu {
  color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 20px;
  padding: 10px;
}

.barra {
  height: 10px;
  width: 70px;
  background-color: rgb(216 132 146);
  border-radius: 10px;
  transform: scale(1);
  transition: border .25s ease-out, transform .25s ease-out, background-color .25s ease-out;
}

.BMenu:hover .barra {
  background-color: rgb(205 184 157);
  transform: scale(1.053);
  border: 0px;
}

/*?LANGUAGES*/
.PARTS {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: #CAD0D6;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.ChLang {
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100%;
}

.contBall {
  width: 100%;
  height: 30px;
  margin: 10px;
  border-radius: 30px;
  border: 3px solid rgb(216 132 146);
  transition: border .25s ease-out;
}

.Ball {
  border-radius: 50%;
  background-color: rgb(216 132 146);
  height: 75%;
  width: 25px;
  position: relative;
  color: transparent;
  top: 3px;
  left: 3px;
  transition: background-color .25s ease-out, left .25s ease-out;
}

.contBall:hover .Ball {
  left: 65%;
  background-color: rgb(205 184 157);
}

.contBall:hover {
  border: 3px solid rgb(205 184 157);
}